header{
/*     background-image: url("https://pbs.twimg.com/profile_banners/944201399201538049/1660623840/600x200"); */
    background-image: url("https://d17x1wu3749i2y.cloudfront.net/2022/09/07/05/32/52/5de2f6f0-8919-4a3e-a020-f1a293b57a15/file.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 600px;
    min-height: 200px;
}
a{
    /* overflow-wrap: break-word; */
    word-break:keep-all;
}
.header_txt{
    background-color: black;
    color: white;
}
